transformers
datasets
plotly
spacy
torch
scikit-learn
pandas
numpy
pyarrow
fsspec
jupyterlab
ipywidgets
textstat
textblob
wordcloud
umap-learn
langdetect
nltk
sentence-transformers
bertopic
cleanlab
nlpaug
